<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-16">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <nav>
      Pure Approval
      <a href="/">Home</a>
      <a href="/createNumber">Create</a>
    </nav>

    <main>
      {{{body}}}
    </main>
  </body>
</html>