<title>Bum CRUD - Log in</title>

<h1>Login</h1>

<form method="post" class="accountForm" action="/account/login">
  <input name="username" type="text" autofocus autocomplete="off" placeholder="User name">
  <br>
  <input name="password" type="password" placeholder="Password">
  <br>
  <input type="submit" value="Log in">
</form>
