<a href="/">Home</a> / Products

<h1>Create new product</h1>

<form method="post" action="/product/create">
  <input name="name" type="text" placeholder="Product Name" autofocus autocomplete="off">
  <br>
  <textarea name="description" placeholder="Product Description"></textarea>
  <br>
  <input name="price" type="number" placeholder="Price in SEK">
  <br>
  <input type="submit">
</form>